html{
    background-color: white;
}

.Container{
    width: 100%;
    margin-top: 30px;
}

.row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.col-50{
    width: 100%;
    margin: 0 auto;
}

.col-50 figure{
    width: 100%;
    margin: 0 auto;
    padding: 15 5 15 5;
    justify-content: center;
    display: flex;
}

.col-50 figure img{
    width: 80%;
    margin-top: 20%;
    justify-content: center;
}

.botton-buy{
    width: 80%;
    background-color: burlywood;
    display: flex;
    margin: 0 auto;
}


.botton-buy p{
    color: beige;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin:auto;
}



